@import url("https://fonts.googleapis.com/css2?family=Montserrat:w6ht@600;600&display=swap");

$white: #fff;
$black: #000;
$gray: #f1f1f1;
$d-gray: #cecece;
$blue: #9292e4;
$d-blue: #7575ce;

$ff-primary: "Montserrat", sans-serif;
$fs-body: 16px;
$fs-med: 22px;
$fs-big: 32px;
$fw-400: 400;
$fw-600: 600;

$sradius: 2px;
$lradius: 10px;
$xlradius: 50%;

$shadow: 2px 2px 2px $d-gray;
