@import "./component/userCard";
@import "./component/modal";
@import "./component/button";
@import "./variables";

body {
    font-family: $ff-primary;
    background-color: $gray;
    color: $black;
}
.header {
    width: 100%;
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__title {
    padding: 16px;
    text-align: center;
}
.header__btnCtn {
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
}
.btnCtn__btn {
    @include btnStyle($white, $d-blue);
    font-weight: $fw-600;

    &:hover {
        @include btnStyle($white, $blue);
    }
}
.cardSection {
    width: 100%;
}
